@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

* {
  font-family: 'Orbit', sans-serif;
}

.App {
  margin: 30px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid gray;
  padding: 5px 20px;
}

button {
  margin: 5px;
  padding: 5px 20px;
}

a {
  margin-right: 20px;
}
